@media (max-width: 700px) {
    .app {
        text-align: center;
        // margin: 50px auto;
        // max-width: 600px;
      }
      
    
      
      .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        // margin-right: 20px;
        padding: 10px;
      }
      
  
      
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        background-color: #fff;
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
      
      .close {
        position: relative;
        right: -125px;
        top: -40px;
        cursor: pointer;
        font-size: 50px;
        font-family: 'Inter';
        font-weight: bolder;
        color: #332620;
        

      }
        
      
      .ham-list{
            display: flex;
            flex-direction: column;
            gap: 30px;
        .list{
          
            ul{
              
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        font-size: 34px;
                        color: #332620;
                        font-family: 'Inter';
                        font-weight: bold;
                    }
                }
            }
        }
          }
}


