@media (max-width: 700px) {
    *{
        padding: 0;margin: 0;
        box-sizing: border-box;
 
    }
    html{
        scroll-behavior: smooth;
    }
    .hamburger_menu{
        display: flex;
    }
    .nav_cont{
        padding: 0;
        .nav_right{
            display: flex;
            margin-left: 20px;
            img{
                width: 43px;
                height: 38px;
              
            }
            h2{
                font-size: 16px;
            }
        }
    }
    .nav_cont .nav_left .navlist_cont{
        display: none;
    }
    .the_band .band{
        flex-direction: column;
    }
    .nav_cont .nav_left .btn{
        display: none;
    }
    .footer_cont{
        flex-direction: column;
        line-height: 25px;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 30px;
    }
    .footer_cont .localization{
        align-items: center;
    }
    .footer_cont p{
        font-size: 12px;
        text-align: center;
    }
    .footer_cont h4{
        font-size: 16px;
        text-align: center;
    }
    .footer_cont .find_us{
        text-align: left;
        align-items: center;
    }
    .footer_cont .contact_us{
        align-items: center;
        text-align: center;
    }
    .read_more{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .the_band .learn_more .read_more .stereo{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .classical_cont .next_classical .count_down{
        flex-direction: column;
    }
    .the_band .learn_more{
        flex-direction: column;
        gap: 20px;
    
    }
    .drunken_text h1{
        font-size: 30px;
        line-height: 34px;
        padding: 0px;
    }
    .drunken .rolling_disc img {
        width: 300px;
}
.drunken{
    height: auto;
}
.drunken .rolling_disc{
    margin-top: 20px;
}
.official-videos .promotion_videos{
    display: none;
}
.official-videos img {
    width: 400px;
    height: 500px;
    margin: 140px 0px; 
}
.official-videos{
    height: 100%;
}
.about_us_cont{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6B4E46;
 
}
.about_us_cont .guiltar {
    width: auto;
    height: auto;
}
.classical_cont .next_classical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/src/assets/images/brown_background.png) ;
    gap: 30px;
    /* padding: 100px 0px; */
}
.classical_cont{
    height: 100vh;
    background-color: #6B4E46;
}
.classical_cont .next_classical .count_down .buy_ticket{
    flex-direction: column;
}
.classical_cont .next_classical .classical_text h4{
    font-size: 16px;
    line-height: 20px;
}
.classical_cont .next_classical .classical_text{
    margin-top: 0px;
}
.classical_cont .next_classical img {
    width: 400px;
    height: 200px;
}
.the_band .band h4{
    font-size: 20px;
    line-height: 25px;
}
.the_band{
    padding: 20px;
}
.copyright p {
    font-size: 8px;
    text-align: center;
    span{
        font-size: 8px;
    }
}
.live_perfomance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}





